* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $fontDefault;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.02em;

	background: $colorBackground;

	@include medium {
		font-size: 18px;
		line-height: 30px;
		padding-top: 10px;
	}
}
::selection {
	background-color: $colorSalmon;
	color: white;
}
address {
	font-style: normal;
}

.main {
	opacity: 0;
	animation: fadeContent 1600ms 600ms ease-in-out forwards;
}

@keyframes fadeContent {
	100% {
		opacity: 1;
	}
}

.typist {
	display: inline-block;
}

.logo {
	margin: 20px 0 0 20px;

	@include medium {
		position: fixed;
		margin: 0;
		top: 20px;
		left: 20px;
		z-index: 2;
	}
}

h1,
h2,
h3 {
	font-family: $fontHighlight;
}

h1,
.h1 {
	font-size: 36px;
	line-height: 38px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 20px;

	@include medium {
		font-size: 60px;
		line-height: 70px;
		letter-spacing: 1px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

h2,
.h2,
h3,
.h3 {
	font-size: 20px;
	line-height: 36px;
	margin-top: 20px;
	margin-bottom: 20px;

	@include medium {
		font-size: 30px;
		line-height: 36px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

h3,
.h3 {
	margin-top: 20px;

	@include medium {
		margin-top: 40px;
	}
}

p {
	margin-bottom: 20px;

	@include medium {
		margin-bottom: 40px;
	}
}

a {
	color: inherit;
}

// MENU

nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 100%;
  width: 100%;
  transform: translate3d(100%, 0, 0);
  z-index: 100;
  overflow-y: scroll;
  @include medium {
    width: 30%;
  }
}

.site-nav {
  padding: 7em 4em 0 1em;
  text-align: right;
	list-style-type: none;
  li {
    margin-bottom: 1.5em;
  }
  a {
    display: inline-flex;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: $base;
    @include medium {
      font-size: 3em;
    }
    &:hover {
      color: darken($secondary,20%);
    }
  }
}

.site-nav .icon {
  fill: $base;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 0 0 0 .25em;
}

.site-nav a:hover .icon {
  fill: lighten($base,25%);
}

@media (hover: none) {.site-nav a:hover {color: $base;}}

.open--menu nav {
  transform: translate3d(0,0,0);
}

.container:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: $base;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.open--menu .container {
  &:after {
    visibility: visible;
    opacity: .8;
  }
}

.toggle {
  position: fixed;
  z-index: 999;
  top: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
  background: rgba(white, 0.9);
  border-radius: 2px;
  border: 1px solid $secondary;
	width: auto;
  @include medium {
    top: 2rem;
    right: 2rem;
  }
  &:hover {
		cursor: pointer;
		
    .toggle__label {
      max-width: 70px;
      padding: 0 0 0 1rem;
			opacity: 1;
    }
  }
}

.toggle__label {
  float: left;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 3.5rem;
  height: 100%;
  color: $base;
  max-width: 0;
  padding: 0;
  opacity: 0;
  display: none;
  @include medium {
    display: block;
  }
  @media (hover: none) {
    display: none;
  }
}

.toggle__icon {
  position: relative;
  float: right;
  width: 3.5rem;
  height: 3.5rem;
  span {
    position: absolute;
    display: block;
    background: $base;
    width: 40%;
    height: 2px;
    left: 30%;
    &:first-child {top: 23px;}
    &:nth-child(2) {bottom: 23px;}
  }
}

.open--menu .toggle {
  border-color: transparent !important;
  .toggle__label {
    opacity: 0;
    padding: 0;
    max-width: 0;
  }
  .toggle__icon {
    span:first-child {transform: rotate(45deg);top: 29px}
    span:nth-child(2){transform: rotate(-45deg);bottom: 25px;}
  }
}

// MENU ANIMATIONS

nav {
  transition: transform .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

nav a, .container a {
  transition: color .3s;
}

a .icon {
  transition: all .3s;
}

.container, .modal--contact {
  transition: transform .5s, opacity .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.open--menu .container:after, .open--modal .container:after, .open--modal .modal--contact {
  transition: opacity .5s, visibility 0s linear 0s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.container:after {
  transition: opacity .5s, visibility 0s linear .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.post-preview div:after {
  transition: background-color .5s;
}

.galleries-list li h3, .featured__newest h3, .featured__list h3 {
  transition: all 0.3s;
}

.category-navigation__links {
  transition: all 0.3s;
}

.toggle__icon, .up-button__arrow {
  transition: all .3s;
  span {
    transition: all .3s;
  }
}

.toggle__label {
  transition: all .4s;
}

.button {
	text-decoration: none;
	display: inline-block;
	border: 1px solid currentColor;
	font-size: 14px;
	line-height: 30px;
	padding: 15px 30px;
	letter-spacing: 0.2em;

	&:hover {
		background-color: $colorYellow;
		text-decoration: none;
	}

	.button-group & {
		display: block;
		width: 100%;
		text-align: center;

		&:not(:last-child) {
			border-bottom: none;
		}
	}
}

.small {
	font-size: 12px;
	line-height: 22px;
	margin-top: 8px;
	margin-bottom: 20px;
	max-width: 300px;

	@include medium {
		font-size: 13px;
		line-height: 24px;
	}
}

.faded {
	color: rgba(black, 0.4);

	.-blue & {
		color: rgba(white, 0.4);

		a {
			color: rgba(white, 0.6);
		}
	}
}

.measure {
	@include medium {
		padding-right: 60px;
	}
}

.measure-wider {
	@include wide {
		padding-right: 60px;
	}
}

.title-desc {
	display: block;
	color: $colorSalmon;

	&::selection {
		background-color: black;
	}
}

sup {
	font-family: $fontHighlight;
	font-size: 25px;
	line-height: 0;
	font-weight: bold;

	&.-yellow {
		color: $colorYellow;
	}
	&.-salmon {
		color: $colorSalmon;
	}
	&.-blue {
		color: $colorBlue;
	}
}

.footnote {
	position: relative;
	margin-top: 20px;

	@include medium {
		margin-top: 0;
	}

	&::before {
		content: attr(data-id);
		font-family: $fontHighlight;
		font-weight: bold;
		font-size: 25px;
		line-height: 25px;
		color: inherit;

		position: absolute;
		top: -24px;
		left: 0;
	}

	&.-yellow::before {
		color: $colorYellow;
	}
	&.-salmon::before {
		color: $colorSalmon;
	}
	&.-blue::before {
		color: $colorBlue;
	}
}

img {
	vertical-align: middle;
	width: 100%;
	margin-bottom: 20px;

	@include medium {
		margin-bottom: 10px;
	}
}

.section {
	// padding: 20px 10px;
	margin-bottom: 10px;
	position: relative;

	&:first-child {
		@include medium {
			padding-top: 80px;
		}
	}

	@include medium {
		//padding: 40px 0;

		&:before,
		&:after {
			content: '';
			position: absolute;
			background: $colorBackground;
			width: 10px;
			height: 100%;
			top: 0;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}

	&.-white {
		background-color: white;
	}

	&.-blue {
		background-color: $colorBlue;
		color: white;
	}

	&.-salmon {
		background-color: $colorSalmon;
		color: white;
	}

	&.-yellow {
		background-color: $colorYellow;
		color: white;
	}
}

.projects-list {
	padding-bottom: 20px;

	@include medium {
		padding-bottom: 80px;
	}

	h1 {
		background: -webkit-linear-gradient(#333, $colorSalmon);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}

	h2 {
		margin: 0;
	}
}

.project-section {
	padding: 20px 0;

	h1 {
		margin: 15px 0;
	}
}

// HOME PRODUCT
.home-product {
	padding: 60px 0;

	@include medium {
		padding-top: 120px;
		padding-bottom: 160px;
	}
}

// TESTIMONIAL
.testimonial {
	padding-bottom: 40px;

	@include medium {
		padding-top: 80px;
		padding-bottom: 120px;
	}
}

// CONTACT
.contact {
	font-size: 14px;
	line-height: 24px;
}

.contact-phone {
	font-family: $fontHighlight;
	font-weight: bold;
	display: block;
	font-size: 30px;
	line-height: 30px;
}

.contact-or {
	display: block;
	line-height: 1px;
	height: 1px;
	background: #979797;
	text-align: center;
	margin: 40px 0;

	span {
		display: inline-block;
		padding: 0 10px;
		position: relative;
		top: -10px;
		line-height: 20px;
		background: $colorBackground;
	}
}

.contact-link {
	display: block;
	font-size: 20px;
	line-height: 32px;
}

// UTILITIES
.yellow {
	color: $colorYellow;
}
.salmon {
	color: $colorSalmon;
}
.blue {
	color: $colorBlue;
}

.center {
	text-align: center;
}

// FAKE IMG
.fake-img-group {
	@include medium {
		height: 33vmax;
		max-height: 420px;
	}
}

.fake-img-wrapper {
	@include medium {
		height: 100%;
	}
}

.fake-img {
	height: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
	position: relative;
	background-color: $colorSalmon;

	@include medium {
		margin-bottom: 0;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $colorSalmon;
	}

	&.is-loaded::after {
		opacity: 0;
		transition: opacity 2000ms $easeOutQuart;
	}

	&.-two-x-three {
		padding-top: (3 / 2) * 100 + unquote('%');
	}
	&.-three-x-two {
		padding-top: (2 / 3) * 100 + unquote('%');
	}
	&.-sixteen-x-seven {
		padding-top: (7 / 16) * 100 + unquote('%');
	}
	&.-square {
		padding-top: 100%;
	}

	.fake-img-group & {
		@include medium {
			height: 100%;
			padding-top: 0;
		}
	}
}

// BANNER
.banner {
	max-width: 100% !important;
	padding: 0 20px;

	@include medium {
		padding: 0 10px;
		margin-bottom: 10px;
	}
}

.banner-img {
	&.-small {
		@include medium {
			display: none;
		}
	}
	&.-medium {
		display: none;
		@include medium {
			display: block;
		}
	}
}

.fluid {
	width: 100%;
}

// FORMS
input[type='text'],
input[type='number'],
input[type='email'] {
	-webkit-appearance: none;
	appearance: none;
	font-size: 16px;
	font-family: inherit;
	line-height: 30px;
	padding: 15px 30px;
	border: 1px solid darken($colorBackground, 10%);
	border-radius: 0;
	margin: 0 20px 20px 0;

	width: 100%;

	@include medium {
		width: 200px;
	}

	&:hover {
		border-color: #999;
	}

	&:focus {
		border-color: black;
		outline: none;
	}
}

select {
	-webkit-appearance: none;
	appearance: none;
	font-size: 16px;
	font-family: inherit;
	line-height: 30px;
	padding: 15px 40px 15px 30px;
	border: 1px solid darken($colorBackground, 10%);
	border-radius: 0;
	margin: 0 20px 20px 0;

	width: 100%;

	@include medium {
		width: 200px;
	}

	&:hover {
		border-color: #999;
	}

	&:focus {
		border-color: black;
		outline: none;
	}
}

button {
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	background: transparent;
	border: 1px solid currentColor;
	font-size: 14px;
	font-family: inherit;
	line-height: 30px;
	padding: 15px 30px;
	letter-spacing: 0.2em;
	margin: 0 20px 20px 0;

	width: 100%;

	border-radius: 0;

	@include medium {
		width: auto;
	}

	&:not(:disabled):hover {
		// background-color: $colorYellow;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}

	&:disabled {
		opacity: 0.5;
	}
}

// SLOPES
.slope {
	-webkit-clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 0%);
	-moz-clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 0%);
	clip-path: polygon(100% 0%, 100% 95%, 0% 100%, 0% 0%);
}
